<h1>LOGIN PAGE</h1>
<div>
  <form [formGroup]="form">
    <!-- <img src="./assets/pic2.png"> -->
    <!-- USERNAME OR NAME -->
    <div>
      <label>Name:</label>
      <input type="text" formControlName="fullName">
      <div id="message" *ngIf="!form.get('fullName')?.valid && form.get('fullName')?.touched">
        Enter atleast 5characters for name:
      </div>
    </div>

    <!-- EMAIL-ID -->
    <div>
      <label>Email Id:</label>
      <input type="email" formControlName="email">
      <div id="message" *ngIf="!form.get('email')?.valid && form.get('email')?.touched ">
        Invalid Email Id
      </div>
    </div>

    <!-- PASSWORD -->
    <div>
      <label>PassWord:</label>
      <input type="password" formControlName="password">
      <div id="message" *ngIf="!form.get('password')?.valid && form.get('password')?.touched">
        Password must contains 8 characters,1 Number, 1 uppercase letter, 1 special Character.!
      </div>
    </div>

    <button type="submit" (click)="onSubmit()">SUBMIT</button>
  </form>
  {{form.value|json}}
</div>