<h1>Routing Examples: </h1>


<nav>
  <button><a routerLink="/twoWheel">TwoWheels</a><br><br></button><br><br>
  <button><a routerLink="/fourWheel">FourWheelers</a></button>
</nav> 
<router-outlet></router-outlet>

<p>---------------------------------------------------------------------------</p>
<h2>Reactive Forms</h2>

<app-reactiveforms></app-reactiveforms>
<app-profileReactive></app-profileReactive>

<p>------------------LAZYLOADING-------------------------------</p>
<h2>Lazy Loading-shopping</h2>
<ul>
  <li><a routerLink="shop/product">product</a></li>
  <li><a routerLink="shop/category">category</a></li>
</ul>

<p>------------------Login PAge-------------------------------</p>
<app-login></app-login>
<br><br><p>--------------------Supermarket----------------------------</p>
<app-supermarket></app-supermarket> <br><br> 


