
<h3>Reactive Forms</h3>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <br><label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName">

  <br><br><label for="last-name">Last Name: </label>
  <input id="last-name" type="text"  formControlName="lastName">

  <p>Complete the form to enable button.</p>
<button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>



<form [formGroup]="address" (ngSubmit)="onSubmitAdd()">

  <br><br><label for="street">STREET:</label>
  <input id="street" type="text" formControlName="street"><br>

  <label for="city">CITY:</label>
  <input id="city" type="text" formControlName="street">

  <label for="pincode">pincode:</label>
  <input id="pincode" type="text" formControlName="pincode">

  <p>Fill the street otherwise you are not able to complete this form</p>
  <button type="submit" [disabled]="!address.valid">Submit</button>
</form>

